/*======================Reset CSS======================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*======================Import======================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*======================Common======================*/

:root{
	--bg: 18, 35, 46;
	--text-light: 0, 124, 199;
	--text-support: 77, 168, 218;
	--bg-light: 32, 54, 71;
	--text: 238, 251, 251;
}
/*
	rgb(var(--text));
	rgb(var(--text-light));
	rgb(var(--text-support));
	rgb(var(--bg-light));
	rgb(var(--bg));
*/

$orange: #ff8928;
$red: #DE354C;
$green: #22bb33;
a{
	color: rgb(var(--text));
}
body{
	font-family: 'Poppins', sans-serif;
	background: rgb(var(--bg));
	color: rgb(var(--text));
}
:active {
  outline: none;
}
:focus-visible{
	outline: 1px solid $orange;
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}
.wrapper{
	height: 100vh;
	height: calc(var(--vh, 1vh) * 99.99);
	width: 100%;
	overflow: hidden;
	
	display: grid;
	grid-template: 1fr / auto 1fr;
}
.container{
	max-width: 800px;
	margin: 0 auto;
}
.priority-1{
	&::after,&::before{
		color: $red;
	}
}
.priority-2{
	&::after,&::before{
		color: $orange;
	}
}
.priority-3{
	&::after,&::before{
		color:#007CC7;
	}
}
.priority-cbx-1{
	border-color: $red !important;
	&:hover,&:before{
		background-color: rgba($red,0.2) !important;
	}
}
.priority-cbx-2{
	border-color: $orange !important;
	&:hover,&:before{
		background-color: rgba($orange,0.2) !important;
	}
}
.priority-cbx-3{
	border-color: #007CC7 !important;
	&:hover,&:before{
		background-color: rgba(#007CC7,0.2) !important;
	}
}
.focus{
	background: rgba(var(--text-support), 0.2);
}
.close{
	transition: all 0.3s ease;
	cursor: pointer;
	font-size: 16px;
	background: transparent;
	color: rgb(var(--text));
	&:hover{
		color: rgb(var(--text-light));
		transform: rotate(90deg);
	}
}
.back,.main-back{
	transition: all 0.3s ease;
	cursor: pointer;
	font-size: 16px;
	background: transparent;
	color: rgb(var(--text));
	&:hover{
		color: rgb(var(--text-light));
		//transform: rotate(360deg);
	}
}
.open{
	visibility: visible;
	pointer-events: auto;
	opacity: 1;
	transform: translate(0px, 0px);
	transition: all 0.3s ease;
}
.hidden{
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transform: translate(0px, 10px);
	transition: all 0.3s ease;
}
.check{
	color: $red;
	font-size: 10px;
}
.btn-submit{
	border-radius: 8px;
	background: rgb(var(--text-light));
	color: #EEFBFB;
	padding: 5px 10px;
	margin-right: 10px;
	transition: all 0.3s ease;
	&:disabled{
		opacity: 0.6;
	}
	&:hover:not(:disabled){
		background: rgb(var(--text-support));
	}
}
.btn-cancel{
	display: inline-block;
	background: transparent;
	transition: color 0.3s ease;
	color: rgb(var(--text));
	&::after {
		content: '';
		width: 0px;
		height: 1px;
		display: block;
		background: rgb(var(--text-light));
		transition: width 0.3s ease;
	}
	&:hover::after {
		width: 100%;
	}
	&:hover{
		color: rgb(var(--text-light));
	}
}
.btn-password{
	background: transparent;
	color: rgb(var(--text));
	transition: all 0.3s ease;
	padding: 5px;
	margin: 2px;
	&:hover{
		color: rgb(var(--text-light));
	}
}
.btn-action{
	font-size: 16px;
	background: transparent;
	color: rgb(var(--text));
	transition: color 0.3s ease;
	&:hover{
		color: rgb(var(--text-light));
	}
}
.btn{
	background: transparent;
	position: relative;
	z-index: 2;
	color: rgb(var(--text));
	background: transparent;
	border-radius: 8px;
	padding: 8px;
	transition: all 0.3s ease;
	//margin-right: 10px;
	&:hover{
		background: rgba(var(--text-light), 0.5);
	}
}
.denger{
	color: $red !important;
	line-height: 18px !important;
	&:before{
		padding-right: 7px;
	}
}
.denger-btn{
	color: $red !important;
	border-color: $red !important;
}	
.success{
	color: $green;
	line-height: 18px !important;
	&:before{
		margin-right: 7px;
	}
}
.btn-red{
	background: transparent;
	font-weight: 500;
	color: $red !important;
	border-radius: 4px;
	border: 1px solid $red !important;
	padding: 3px;
	transition: all 0.3s ease;
	&:disabled{
		opacity: 0.6;
	}
	&:hover:not(:disabled){
		background: $red !important;
		color: #EEFBFB !important;
	}
}
.completed{
	color: rgb(var(--text-light));
	text-decoration: line-through;
	text-decoration-color: rgb(var(--text-light));
}
.input{
	display: flex;
	border-radius: 4px;
	border: 1px solid rgb(var(--text-light));
	background: transparent;
	color: rgb(var(--text));
	&:focus-within{
		border-color: rgb(var(--text-support));
	}
	input{
		background: transparent;
		color: rgb(var(--text));
		padding: 5px 5px 5px 10px;
		flex-grow: 2;
	}
}
.link-reset-password{
	color: rgb(var(--text-light));
	transition: all 0.3s ease;
	&:hover{
		color: rgb(var(--text-support));
	}
}
.limit{
	margin: 5px 0px 10px;
	font-size: 12px;
}
.textarea{
	&__body{
		position: relative;
		background: rgb(var(--bg-light));
		margin-top: 12px;
		border-radius: 12px;
		border: 1px solid rgb(var(--text-light));
		padding: 10px;
			&:focus-within{
			border-color: rgb(var(--text-support));
		}
	}
	&__text{
		width: 100%;
		resize: none;
		line-height: 20px;
		background: rgb(var(--bg-light));
		color: rgb(var(--text));
		&:focus{
			outline: none !important;
		}
	}
	&__bottom{
		margin-top: 10px;
		width: 100%;
		color: rgb(var(--text));
	}
	&__block{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__group{
		display: flex;
		align-items: center;
	}
}
.avatar{
	width: 40px;
	height: 40px;
	object-fit: cover;
	margin-right: 10px;
	img{
		border-radius: 50%;
		width: 100%;
		height: 100%;
	}
}
/*Custom Select  !!!*/
.select {
	position: relative;
	display: flex;
	width: 300px;
  	height: 30px;
	overflow: hidden;
	transition: .3s all ease;
	select {
		appearance: none;
		outline: 0;
		box-shadow: none;
		border-radius: 4px;
		border: 1px solid rgb(var(--text-light));
		background: rgb(var(--bg));
		background-image: none;
		flex: 1;
		padding: 0 .5em;
		color: rgb(var(--text));
		cursor: pointer;
	}
	&__arrow{
		position: absolute;
		top: 0;
		right: 0;
		pointer-events: none;
		cursor: pointer;
		margin-right: 15px;
		margin-top: 5px;
	}
	&:hover{
		color: rgb(var(--text-support));
	}
}
/*Profile*/
.profile{
	display: flex;
	width: 100%;
	align-items: center;
	overflow: hidden;
	background: rgba(var(--bg), 0.4);
	&__body{
		display: flex;
		width: 100%;
		align-items: center;
		padding: 10px;
		&:hover{
			background: rgba(var(--bg),0.4);
		}
	}
	&__logout{
		position: absolute;
		right: 10px;
		cursor: pointer;
		transition: all 0.4s ease;
		border-radius: 12px;
		font-size: 22px;
		background: transparent;
		color: rgb(var(--text));
		font-weight: 500;
		white-space: nowrap;
		padding: 10px;
		&:hover{
			background: rgb(var(--text));
			color: rgb(var(--bg-light));
		}
	}
	&__name{
		font-weight: 500;
		font-size: 16px;
	}
	&__email{
		color: rgba(var(--text-light), 0.6);
		font-weight: 300;
		line-height: 20px;
	}
	&__name,&__email{
		display: block;
		width: 150px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	&__link{
		width: 100%;
	}
}
/*Stats*/
.stats{
	margin: 20px 20px;
	&__title{
		margin-left: 10px;
		display: block;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 15px;
		padding-bottom: 5px;
		transition: all 0.3s ease;
		border-bottom: 1px solid rgb(var(--text-light));
		
	}
	&__count-task{
		margin-left: 10px;
		display: flex;
		align-items: center;
		&:not(:last-child){
			margin-bottom: 15px;
		}
	}
	&__logo{
		margin-right: 10px;
		cursor: pointer;
	}
}
/*Tooltip*/
.tooltip{
	background: rgb(var(--bg-light)) !important;
	color: rgb(var(--text)) !important;
	opacity: 1 !important;
	border: none !important;
	border-radius: 4px !important;
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	transition: all 0.3s ease;
}
.full-error{
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(var(--bg));
}
.overlay, .overlay-bg{
	position: fixed;
	width: 100%;
	z-index: 8;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
}
.overlay-bg{
	background: rgba(0,0,0,.5);
}
/*checkbox and text for task*/
.task{
	&__text{
		line-height: 21px;
		word-wrap: break-word;
		word-break: break-word;
		max-height: 65px;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
	}
	&__cbx{
		cursor: pointer;
		position: relative;
		z-index: 1;
		margin-right: 10px;
		span{
			display: inline-block;
			vertical-align: middle;
			transform: translate3d(0,0,0);
			position: relative;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			transform: scale(1);
			vertical-align: middle;
			border: 1px solid rgb(var(--text));
			transition: all .3s ease;
			svg{
				position: absolute;
				z-index: 1;
				top: 4px;
				left: 4px;
				fill: none;
				stroke: white;
				stroke-width: 2;
				stroke-linecap: round;
				stroke-linejoin: round;
				stroke-dasharray: 16px;
				stroke-dashoffset: 16px;
				transition: all .3s ease;
				transform: translate3d(0,0,0);
			}
			&:before{
				content: "";
				width: 100%;
				height: 100%;
				background: rgb(var(--text));
				display: block;
				transform: scale(0);
				opacity: 1;
				border-radius: 50%;
			}
			&:hover{
				background-color: rgba(var(--text),0.2);
			}
	}
	}
	&__inp-cbx:checked + &__cbx{
		span{
			background: rgba(var(--text),0.2);
			animation: check .6s ease;
			svg{
				stroke-dashoffset: 0;
			}
			&:before{
				transform: scale(2.2);
				opacity: 0;
				transition: all .6s ease;
			}
		}
		.priority-cbx-1{
			background-color: rgba($red,0.2) !important;
		}
		.priority-cbx-2{
			background-color: rgba($orange,0.2) !important;
		}
		.priority-cbx-3{
			background-color: rgba(#007CC7,0.2) !important;
		}
	}
}
@keyframes check{
	50%{
		transform: scale(1.2);
	}
}
/* Switch */
.switch{
	--active-inner: #fff;
	--border: #BBC1E1;
	--background: #fff;
	--disabled: #F6F8FF;
	--disabled-inner: #E1E6F9;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 21px;
	width: 38px;
	outline: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	border-radius: 11px;
	background: var(--b, var(--background));
	transition: background .3s, border-color .3s, box-shadow .2s;
	&:after {
      content: '';
      display: block;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
		left: 2px;
		top: 3px;
		border-radius: 50%;
		width: 15px;
		height: 15px;
		background: var(--ab, var(--border));
		transform: translateX(var(--x, 0));
   }
	&:checked {
	--b: #22bb33;
	--d-o: .3s;
	--d-t: .6s;
	--d-t-e: cubic-bezier(.2, .85, .32, 1.2);
	--ab: var(--active-inner);
	--x: 17px;
	}
	&:disabled {
	--b: var(--disabled);
	cursor: not-allowed;
	opacity: .7;
	& + label {
		cursor: not-allowed;
	}
	&:not(:checked) {
		&:after {
		opacity: .6;
		}
	}
	}
	& + label {
	font-size: 14px;
	line-height: 21px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	margin-left: 4px;
	}
}

/*======================Animation React======================*/
.move-enter {
	opacity: 0.01;
	transform: translate(-40px, 0)
}
.move-enter-active {
	opacity: 1;
	transform: translate(0, 0);
	transition: all 0.4s ease;
}
.move-exit {
	opacity: 1;
	transform: translate(0, 0);
}
.move-exit-active {
	opacity: 0.01;
	transform: translate(40px, 0);
	transition: all 0.4s ease;
}
//
.move-back-enter {
	opacity: 0.01;
	transform: translate(40px, 0)
}
.move-back-enter-active {
	opacity: 1;
	transform: translate(0, 0);
	transition: all 0.4s ease;
}
.move-back-exit {
	opacity: 1;
	transform: translate(0, 0);
}
.move-back-exit-active {
	opacity: 0.01;
	transform: translate(-40px, 0);
	transition: all 0.4s ease;
}
//
.height-enter {
  	overflow: hidden;
  	max-height: 0;
}
.height-enter-active {
	max-height: 300px;
  	transition: max-height .5s ease;
}
.height-exit {
	max-height: 300px;
}
.height-exit-active {
  	overflow: hidden;
	max-height: 0;
  	transition: max-height .5s ease;
}
//
.scale-enter {
  opacity: 0;
  transform: scale(0.7);
}
.scale-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.scale-exit {
  opacity: 1;
}
.scale-exit-active {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
//
.opacity-enter {
  opacity: 0;
}
.opacity-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.opacity-exit {
  opacity: 1;
}
.opacity-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease;
}
/*======================Loader======================*/
.loader{
	display: flex;
	position: absolute;
	z-index: 100;
	background: rgb(var(--bg));
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	//height: calc(var(--vh, 100vh) * 100);
}
.lds-ripple {
  position: relative;
  width: 140px;
  height: 140px;
  div{
		position: absolute;
		margin: 20px 0px 0px 30px;
		border: 4px solid rgb(var(--text-light));
		opacity: 1;
		border-radius: 50%;
		animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
		&::nth-child(2){
			animation-delay: -0.5s;
		}
  }
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
/*======================Dialog======================*/
.dialog{
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	//background: rgba(0,0,0,.5);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
	&__body{
		display: flex;
		flex-direction: column;
		width: 550px;
		height: 100%;
		border-radius: 12px;
		background: rgb(var(--bg));
		box-shadow: 0 1px 4px 0 rgb(0 0 0 / 8%), 0 15px 50px 0 rgb(0 0 0 / 60%);
	}
	&__img,&__gif{
		margin-top: 8px;
		box-shadow: 0 0 20px rgba(0,0,0,.2);
		img{
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__img{
		width: 50%;
		height: 50%;
	}
	&__gif{
		width: 100%;
		max-height: 600px;
	}
	&__title{
		font-size: 18px;
		font-weight: 500;
	}
	&__header{
		display: flex;
		justify-content: space-between;
		margin-bottom: 5px;
		padding: 15px 15px 10px;
		border-bottom: 1px solid rgb(var(--text-light));
	}
	&__sub-title{
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 5px;
		color: rgb(var(--text-support));
	}
	&__text{
		line-height: 18px;
	}
	&__block{
		&:not(:last-child){
			margin-bottom: 80px;
		}
	}
	&__container{
		overflow: auto;
		padding: 5px 15px 15px;
	}
}
/*======================Sidebar / Header======================*/
.sidebar{
	position: relative;
	display: flex;
	flex-direction: column;
	background: rgb(var(--bg-light));
	width: 70px; // for close sidebar
	height: 100vh;
	height: calc(var(--vh, 0.9vh) * 100);
	padding-top: 20px;
	transition: width 0.4s ease 0s;
	z-index: 8;
	&__header{
		position: relative;
		margin: 0px 10px;
	}
	&__menu{
		padding-top: 20px;
		height: 100%;
	}
	&__active{
		width: 280px; // for desctop and laptop
		.stats{
			&__title{
				width: auto;
			}
			&__logo{
				cursor: auto;
			}
		}
		.sidebar__link span,.sidebar__logo,.profile__body,.stats__count-task span{
			opacity: 1;
			pointer-events: painted;
		}
		.profile__logo{
			right: 10px;
		}
		.sidebar__humburger{
			right: 0px;
		}
		.profile__link{
			width: auto;
		}
	}
	&__humburger{
		position: absolute;
		right: 12px;
		top: 4px;
	}
}
.sidebar-link{
	&__count{
		font-size: 14px;
		margin-left: auto;
		padding-right: 20px;
	}
	&__logo{
		margin-right: 20px;
		padding-left: 14px;
	}
	&__title{
		font-weight: 500;
	}
}
.header{	
	position: relative;
	background: rgb(var(--bg-light));
	height: 40px;
	width: 100%;
	padding: 0px 15px;
	display: block;
	z-index: 10;
	&__logo{
		margin-left: 10px;
	}
	&__start{
		display: flex;
		position: relative;
		z-index: 11;
		align-items: center;
	}
	&__content{
		display: flex;
		height: 100%;
		align-items: center;
	}
	&__menu{
		position: absolute;
		z-index: 10;
		left: -100%;
		top: 0;
		height: 100vh;
		height: calc(var(--vh, 0.9vh) * 100);
		width: 280px;
		padding-top: 60px;
		background: rgb(var(--bg-light));
		transition: left 0.4s ease;
	}
	&__menu_active{
		left: 0;
	}
	&__humburger{
		position: relative;
		&._active{
			&::before{
				top: 50%;
				transform: rotate(-45deg) translate(0px, -50%);
			}
			&::after{
				bottom: 50%;
				transform: rotate(45deg) translate(0px, 50%);
			}
			span{
				top: 50%;
				transform: scale(0) translate(0px, -50%);
			}
		}
	}
}
.sidebar,.header{
	&__link{
		color: rgb(var(--text));
		font-size: 16px;
		display: flex;
		align-items: center;
		line-height: 38px;	
		white-space: nowrap;
		border-radius: 12px;
		transition: all 0.3s ease;
		cursor: pointer;
		margin: 0px 10px;
		border: 2px solid transparent;
		&:hover{
			background: rgb(var(--text));
			color: rgb(var(--bg-light));
		}
	}
	&__link_active{
		background: rgb(var(--text));
		color: rgb(var(--bg-light));
	}
	&__logo{
		font-size: 22px;
		font-weight: 500;
		white-space: nowrap;
		user-select: none;
	}
	&__menu{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__humburger{
		z-index: 5;
		display: block;
		width: 20px;
		height: 14px;
		cursor: pointer;
		transition: all 0.4s ease;
		&::before,&::after, span{
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: rgb(var(--text));
		}
		&::before,&::after{
			content: '';		
		}
		&::before{
			top: 0;
		}
		&::after{
			bottom: 0;
		}
		span{
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}
	}
}
/*======================Sing Up, Sing In======================*/
.sing-up,.sing-in{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	.denger{
		margin-bottom: 10px;
	}
	&__title{
		color: rgb(var(--text-light));
		font-size: 24px;
		margin-bottom: 20px;
	}
	&__logo{
		max-width: 32px;
		margin-bottom: 20px;
		img{
			width: 100%;
			object-fit: cover;
		}
	}
	&__body{
		width: 400px;
		border-radius: 12px;
		background: rgb(var(--bg-light));
		padding: 20px;
		box-shadow: 0 0 20px rgba(0,0,0,.2);
	}
	&__form{
		padding-bottom: 15px;
		border-bottom: 1px solid rgb(var(--text-light));
	}
	&__group{
		margin-bottom: 10px;
	}
	.input{
		margin-top: 5px;
	}
	&__btn-submit{
		width: 100%;
		color: rgb(var(--text));
		font-weight: 500;
		font-size: 16px;
	}
	&__btn-social{
		width: 100%;
		color: rgb(var(--bg));
		background: rgb(var(--text));
		margin-bottom: 10px;
	}
	&__img-social{
		margin-right: 10px;
	}
	&__or{
		text-align: center;
		border-bottom: 1px solid rgb(var(--text-light));
		position: relative;
		margin: 20px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		span{
			padding: 0px 15px;
			background: rgb(var(--bg-light));
			position: absolute;
		}
	}
	&__link,&__link{
		width: 100%;
		text-align: center;
		display: inline-block;
		transition: color 0.3s ease;
		margin-top: 10px;
	}
}
/*======================Main======================*/
.main{
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	padding: 0px 30px 50px;
	margin-top: 20px;
	overflow: auto;
	&__header{
		position: relative;
		border-bottom: 1px groove rgb(var(--text-light));
		padding-bottom: 8px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__title{
		span{
			font-size: 24px;
			font-weight: 500;
		}
		small{
			font-weight: 300;
			color: rgb(var(--text-light));
			margin-left: 8px;
		}
	}
	&__task{ // change component day for task
		position: relative;
		border-bottom: 1px groove rgb(var(--text-light));
		padding: 12px 0px;
		display: flex;
		width: 100%;
		cursor: pointer;
		transition: all 0.3s ease;
		&:last-child{
			margin-bottom: 0px;
		}
		&:hover{
			.main__task-action{
				opacity: 1;
			}
		}
		.day{
			position: relative;
			display: inline-block;
			&__btn{
				font-size: 12px;
				margin: 5px 8px 0px 0px;
				border: none;
				padding: 0;
				&:hover, &:focus{
					background: none;
					color: rgb(var(--text-light));
				}
				&:before{
					margin-right: 5px;
				}
			}
		}
		.denger-btn{
			transition: color 0.3s ease;
			&:hover{
				color: rgb(var(--text-light)) !important;
			}
		}
		.btn{
			padding: 0;
			font-size: 12px;
			margin-top: 5px;
			&:hover{
				color: rgb(var(--text-light));
				background: transparent;
			}
			&::before{
				margin-right: 3px;
			}
		}
	}
	&__task-focus{
		background: rgba(var(--text-light), 0.2);
	}
	&__task-selected{
		background: rgb(var(--text-light));
	}
	&__text{
		user-select: none;
	}
	&__group-task{
		width: 100%;
	}
	&__group{
		display: flex;
		align-items: center;
	}
	&__day-of{
		height: 80%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	&__task-action{
		position: absolute;
		right: 0;
		top: 12px;
		display: flex;
		background: rgb(var(--bg));
		box-shadow: -12px 7px 18px 4px rgba(var(--bg), 1);
		padding: 2px 8px;
		opacity: 0;
		transition: opacity 0.3s ease;
		&:focus{
			opacity: 1;
		}
	}
	&__link{
		&::before{
			content: '';
			top: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
}
/*Sort*/
.main-sort{
	&__btn{
		background: transparent;
		color: rgb(var(--text));
		transition: all 0.3s ease;
		padding: 5px;
		border-radius: 4px;
		&::before{
			position: relative;
			bottom: -1px;
			font-size: 18px;
			margin-right: 8px;
		}
		&:hover,&:focus{
			background: rgba(var(--text-light), 0.5);
		}
	}
	&__list{
		position: absolute;
		border-radius: 4px;
		box-shadow: 0px 8px 14px 1px rgba(0,0,0,0.44);
		min-width: 250px;
		right: 0;
		top: 80%;
		background-color: rgb(var(--bg-light));
		z-index: 1;
		
		li{
			width: 100%;
			cursor: pointer;
			position: relative;
			line-height: 30px;
			&:hover{
				background: rgba(var(--text-support),0.2);
			}		
			&:first-child{
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
			}
			&:last-child{
				border-bottom-right-radius: 4px;
				border-bottom-left-radius: 4px;
			}
		}
	}
	&__item{
		display: flex;
		align-items: center;
		padding: 8px 10px;
		justify-content: space-between;
	}
	&__name{
		&:before{
			margin-right: 10px;
		}
	}
	&__sub{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		border-bottom: 1px groove rgb(var(--text-light));
		padding: 12px 0px;
		font-size: 14px;
		.close{
			font-size: 14px;
		}
	}
	&__btn-reverse{
		background: transparent;
		color: rgb(var(--text));
		border-radius: 4px;
		transition: all 0.3s ease;
		padding: 5px 8px;
		&:hover{
			background: rgba(var(--text-light), 0.5);
		}
	}
	&__sub-name{
		user-select: none;
		margin: 0px 8px 0px 3px;
	}
}
/*Editor Task*/
.main-editor-task{
	&__btn{
		margin-top: 12px;
		width: 100%;
		text-align: left;
		background: transparent;
		color: rgb(var(--text));
		transition: color 0.3s ease;
		&:hover{
			color: rgb(var(--text-light));
		}
		i{
			margin-right: 10px;
		}
	}
}
/*Editor Task Text Form*/
.main-editor-task-form{
	&__action{
		margin-top: 12px;
	}
}
/*Editor Task Select day*/
.day{
	&__btn{
		border: 1px solid rgba(var(--text-light), 0.6);
		&:hover, &:focus{
			border-color: rgba(var(--text-light), 0.5);
		}
		&:before{
			margin-right: 10px;
		}
	}
	&__list{
		min-width: 240px;
		li{
			&:not(:first-child, .main-editor-task-form-day__moment){
				cursor: pointer;
				line-height: 30px;
				&:hover{
					background: rgba(var(--text-support), 0.2);
				}
			}
			&:first-child{
				line-height: 35px;
				margin-bottom: 5px;
				border-bottom: 1px solid rgb(var(--text-light));
			}
		}
	}
	&__date{
		color: rgb(var(--text-light));
		float: right;
		margin-right: 10px;
	}
	&__day{
		margin-left: 10px;
		margin-right: 10px;
		&:before{
			margin-right: 10px;
		}
	}
	&__moment{
		line-height: 35px;
		margin-bottom: 5px;
		border-bottom: 1px solid rgb(var(--text-light));
	}
	&__input{
		background: transparent;
		width: 100%;
		height: 100%;
		padding-left: 10px;
		color: rgb(var(--text));
		&:focus{
			outline: none !important;
		}
	}
	&__input-text{
		margin-left: 10px;
		span, time{
			cursor: pointer;
			margin-left: 5px;
			color: rgb(var(--text-light));
			&:hover{
				color: rgb(var(--text-support));
			}
		}
	}
	&__input-subtext{
		margin-left: 10px;
		font-size: 10px;
		line-height: 18px;
		max-width: 300px; // width dropdawn 
		margin-bottom: 5px;
		span{
			color: rgb(var(--text-light));
		}
	}
}
/*Editor Task Select Priority*/
.priority{
	&__btn{
		margin-right: 10px;
	}
	&__list{
		min-width: 250px;
		right: 0;		
		li{
			cursor: pointer;
			line-height: 30px;
			&:hover{
				background: rgba(var(--text-support), 0.2);
			}
		}
	}
	&__priority{
		&:before{
			margin-right: 10px;
		}
	}
	&__item{
		display: flex;
		align-items: center;
		padding: 8px 10px;
		justify-content: space-between;
	}
}
/*Editor Task Comment*/
.comment{
	&__btn{
		background: transparent;
		color: rgb(var(--text));
		background: transparent;
		border-radius: 8px;
		padding: 8px;
		transition: all 0.3s ease;
		&:hover, &:focus{
			background: rgba(var(--text-light), 0.5);
		}
	}
	&__dialog{
		position: absolute;
		border-radius: 4px;
		box-shadow: 0px 8px 14px 1px rgba(0,0,0,0.44);
		min-width: 350px;
		padding: 15px;
		right: -5%;
		background-color: rgb(var(--bg-light));
		z-index: 1;
	}
	&__header{
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}
	&__title{
		pointer-events: none;
		font-size: 16px;
	}
	&__text{
		width: 100%;
		resize: none;
		line-height: 20px;
		border-radius: 4px;
		border: 1px solid rgb(var(--text-light));
		background: rgb(var(--bg-light));
		color: rgb(var(--text));
		padding: 10px 10px 50px 10px;
		&:focus{
			border-color: rgb(var(--text-support));
			outline: none	!important;
		}
	}
}
/*No Task*/
.main-day-of{
	&__logo{
		font-size: 60px;
		margin-bottom: 20px;
	}
	&__text{
		font-size: 16px;
	}
	&__sub-text{
		font-weight: 300;
		margin-top: 10px;
		line-height: 18px;
		color: rgb(var(--text-light));
	}
}
/*======================Task Details======================*/
.task-detail{
	position: fixed;
	overflow: hidden;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	display: flex;
	padding: 50px 30px;
	justify-content: center;
	align-items: center;
	&__body{
		width: 650px;
		padding: 20px 24px;
		height: 100%;
		display: flex;
		flex-direction: column;
		border-radius: 12px;
		background: rgb(var(--bg));
		box-shadow: 0 0 20px rgba(0,0,0,.2);
	}
	&__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	&__overview{
		margin-top: 20px;
	}
	&__text{
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 15px;
		word-wrap: break-word;
    	word-break: break-word;
	}
	&__task{
		display: flex;
	}
	&__group{
		width: 100%;
	}
	&__actions{
		display: flex;
		margin-top: 10px;
		position: relative;
		align-items: center;
		justify-content: flex-end;
		div:not(:last-child){
			margin-right: 5px;
		}
	}
	.priority__btn{
		margin: 0;
	}
	&__delete{
		&:hover{
			color: $red;
		}
	}
	&__tabs{
		margin-top: 20px;
		height: 100%;
	}
}
.task-detail-tabs{
	&__menu{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__btn{
		background: transparent;
		color: rgb(var(--text));
		padding-bottom: 5px;
		border-bottom: 1px solid rgba(var(--text-light), 0.5);
		flex: 1;
		transition: all 0.3s ease;
		&.active{
			color: rgb(var(--text-support));
			border-color: rgb(var(--text-support));
		}
	}
	&__item{
		//height: 340px;
		height: 100%;
		justify-content: space-between;
		overflow: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		padding-top: 20px;
	}
	&__list{
		overflow: auto;
		scroll-behavior: smooth;
		position: relative;
		max-height: 250px;
		//margin-bottom: 20px;
		flex: 1;
		li{
			display: flex;
			&:not(:last-child){
				margin-bottom: 20px;
			}
			&:hover{
				.task-detail-comments__active{
					opacity: 1;
				}
			}
		}
	}
}
// task details comments
.task-detail-comments{
	&__form{
		width: 100%;
		margin-bottom: 20px;
	}
	&__body{
		margin: 0;
	}
	&__action{
		margin-top: 10px;
	}
	&__img{
		height: 32px;
		width: 32px;
	}
	&__group{
		width: 100%;
	}
	&__active{
		margin-left: 20px;
		transition: all 0.3s ease;
		opacity: 1;
	}
	&__block{
		display: flex;
		align-items: center;
		margin-bottom: 5px;
	}
	&__btn{
		font-size: 14px;
		&:not(:last-child){
			margin-right: 10px;
		}
	}
	&__name{
		margin-right: 5px;
		font-weight: 700;
	}
	&__time{
		color: rgb(var(--text-light));
		font-weight: 300;
		font-size: 12px;
	}
	&__text{
		margin-top: 8px;
		word-wrap: break-word;
    	word-break: break-word;
		line-height: 18px;
	}
	&__no-com{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		i{
			font-size: 56px;
			margin-bottom: 10px;
		}
	}
}
.task-detail-activy{
	&__task-added{
		font-weight: 600;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(var(--text-light), 0.5);
	}
}
/*======================Settings======================*/
.settings{
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	display: flex;
	padding: 40px 30px;
	justify-content: center;
	align-items: center;
	&__body{
		width: 1000px;
		height: 100%;
		display: flex;
		border-radius: 12px;
		background: rgb(var(--bg));
		box-shadow: 0 0 20px rgba(0,0,0,.2);
	}
	&__content{
		width: 100%;
		position: relative;
	}
	&__sidebar{
		min-width: 220px;
		height: 100%;
		background: rgb(var(--bg-light));
		padding: 20px 12px 0px;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
	}
	&__title{
		font-size: 18px;
		font-weight: 500;
	}
	&__subtitle{
		font-size: 16px;
		font-weight: 600;
	}
	&__subtext{
		color: rgb(var(--text-light));
		font-size: 12px;
		line-height: 15px;
		font-weight: 300;
	}
	&__link{
		color: rgb(var(--text-light));
		transition: all 0.3s ease;
		&:hover{
			color: rgb(var(--text-support));
		}
	}
	&__block{
		margin-top: 20px;
	}
	&__group{
		display: flex;
		margin-top: 10px;
		align-items: flex-end;
		//align-items: center;
	}
	&__group-title{
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 400px;
	}
	&__text{
		line-height: 18px;
		span{
			font-weight: 700;
		}
	}
	&__form{
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
	}
	&__container{
		padding: 0px 16px;
		margin-top: 60px;
		padding-bottom: 20px;
		overflow: auto;
		flex: 1 1 auto;
	}
	&__header{
		display: flex;
		position: absolute;
		border-top-right-radius: 12px;
		top: 0;
		left: 0;
		width: 100%;
		align-items: center;
		border-bottom: 1px solid rgb(var(--text-light));
		padding: 20px 16px;
		background: rgb(var(--bg));
		.back,.main-back{
			margin-right: 10px;
		}
		.close{
			margin-left: auto;
		}
	}
	&__footer{
		width: 100%;
		//display: none;
		display: flex;
		justify-content: flex-end;
		background: rgb(var(--bg));
		border-top: 1px solid rgb(var(--text-light));
		padding: 10px;
	}
	&__email{
		.settings__group{
			align-items: center;
		}
	}
	&__theme{
		display: flex;
		margin-top: 10px;
		align-items: center;
		flex-wrap: wrap;
	}
	&__btn-social{
		color: rgb(var(--bg));
		background: rgb(var(--text));
	}
	&__img-social{
		margin-right: 10px;
	}
	&__input{
		flex: 1;
	 	max-width: 400px;
	}
}
.settings-sidebar{
	&__menu{
		margin-top: 20px;
	}
	&__item{
		color: rgb(var(--text));
		font-size: 14px;
		font-weight: 500;
		display: flex;
		align-items: center;
		line-height: 30px;
		border-radius: 12px;
		transition: all 0.4s ease;
		padding: 0px 10px;
		&:hover{
			background: rgb(var(--text));
			color: rgb(var(--bg-light));
		}
		&::before{
			margin-right: 10px;
		}
			margin-bottom: 5px;
		&:hover{
			background:rgb(var(--text));
			color: rgb(var(--bg));
		}
	}
	&__logo{
		font-weight: 400;
		margin-right: 10px;
		font-size: 20px;
	}
	&__item_active{
		background: rgb(var(--text));
		color: rgb(var(--bg));
	}
	&__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.settings-account{
	&__img{
		width: 80px;
		height: 80px;
		margin-right: 10px;
		img{
			border-radius: 50%;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__group{
		flex-direction: column;
		align-items: flex-start;
	}
	&__block-btn{
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}
	&__btn{
		display: inline-block;
		line-height: 18px;
		margin-top: 10px;
		background: transparent;
		color: rgb(var(--text));
		border-radius: 4px;
		border: 1px solid rgb(var(--text-light));
		padding: 5px 10px;
		transition: all 0.3s ease;
		&:disabled{
			opacity: 0.7;
		}
		&:not(:disabled){
			&:hover{
				background: rgb(var(--text-light));
			}
		}
		&:not(:last-child){
			margin-right: 10px;
		}
	}
}
.settings-general{
	&__group{
		margin-bottom: 5px;
	}
}
.settings-footer{
	&__btn-submit{
		margin: 0px 0px 0px 10px !important;
	}
}
.settings-theme{
	&__item{
		margin-right: 20px;
		margin-top: 10px;
	}
	&__item-btn{
		background: transparent;
		transition: all 0.3s ease;
		transform: translate(0px, 0px);
		&:hover,&:focus{
			box-shadow: 0 0 20px rgba(0,0,0,.2);
			transform: translate(0px, -5px);
		}
	}
}
.settings-delete{
	&__group{
		max-width: 400px;
		line-height: 18px;
	}
}
/*======================Context menu css======================*/
.context-menu{
	border-radius: 4px;
	z-index: 20;
	background-color: rgb(var(--bg-light));
   box-shadow: 0 0 20px rgba(0,0,0,.2);
	z-index: 999;
	transition: opacity 0.3s ease;
	.react-contextmenu-item{
		&:not(.context-menu-list__item){
			font-size: 14px;
			padding: 12px 15px;
			user-select: none;
			transition: .2s;
			position: relative;
			font-weight: 500;
			width: 100%;
			&:nth-child(1),&:nth-child(3){
				border-bottom: 1px groove rgb(var(--text-light));
				padding-bottom: 12px;
			}
			&:nth-child(1), &:nth-child(4){
				cursor: pointer;
				&:hover{
					background: rgba(var(--text-light), 0.1);
					&:first-child{				
						border-top-right-radius: 4px;
						border-top-left-radius: 4px;
					}
					&:nth-child(4){
						color: #DC143C;
						border-bottom-right-radius: 4px;
						border-bottom-left-radius: 4px;
					}
				}
			}
			&:nth-child(2){
				padding-bottom: 0;
			}
		}
	}
	&__delete:before, &__edit:before{
		margin-right: 10px;
	}
	&__title{
		font-size: 12px;
		font-weight: 300;
		margin-bottom: 10px;
	}
	&__list{
		display: flex;
		div:not(:last-child){
			margin-right: 10px;
		}
	}
}
.context-menu-list{
	&__item{
		font-size: 16px;
		background: transparent;
		color: rgb(var(--text));
		cursor: pointer;
		padding: 5px;
		border-radius: 4px;
		transition: all 0.3s ease;
		&:hover{
			background: rgba(var(--text-support), 0.2);
		}
	}
}
/*======================DropDown======================*/
.drop-down{
	&__btn{
		background: transparent;
		color: rgb(var(--text));
		background: transparent;
		border-radius: 8px;
		padding: 8px;
		transition: all 0.3s ease;
		&:hover, &:focus{
			background: rgba(var(--text-light), 0.5);
		}
	}
	&__list{
		position: absolute;
		border-radius: 4px;
		box-shadow: 0px 8px 14px 1px rgba(0,0,0,0.44);
		background-color: rgb(var(--bg-light));
		z-index: 2;
		li{
			width: 100%;
			position: relative;
			&:first-child{
				border-top-right-radius: 4px;
				border-top-left-radius: 4px;
			}
			&:last-child{
				border-bottom-right-radius: 4px;
				border-bottom-left-radius: 4px;
			}
		}
	}
}
/*======================Quick add task======================*/
.quick-add{
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	&__body{
		width: 600px;
		margin: 0;
		padding: 0;
		box-shadow: 0 1px 4px 0 rgb(0 0 0 / 8%), 0 15px 50px 0 rgb(0 0 0 / 60%);
	}
	&__text{
		border-radius: 12px;
		padding: 10px;
	}
	&__bottom{
		margin: 0;
		border-bottom: 1px solid rgb(var(--text-light));
		padding: 10px 10px 15px 10px;
	}
	&__action{
		padding: 15px 10px 10px 10px; 
	}
}
/*======================Not Found 404======================*/
.not-found{
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0px 15px;
	&__code{
		font-size: 100px;
	}
	&__text{
		font-size: 18px;
		line-height: 24px;
		p{
			margin-top: 10px;
		}
		.btn-cancel{
			color: rgb(var(--text-light));
		}
	}
}
/*======================Adaptive======================*/
@media (max-width: 768px) {
.sidebar{
	position: absolute;
}
.wrapper{
	grid-template: auto minmax(100vh,auto) / 1fr;
}
.settings{
	padding: 40px 0px 0px 0px;
	&__sidebar{
		position: absolute;
		width: 100%;
		z-index: 10;
		left: -100%;
		transition: left 0.3s ease;
	}
	.active{
		left: 0;
		transition: left 0.3s ease;
	}
}
.task-detail{
	padding: 50px 0px 0px 0px;
	&__body{
		width: 100%;
	}
}
}
@media (min-width:768px) {
	.profile{
		&__body{
			opacity: 0;
			flex-wrap: nowrap;
		}
	}
	.settings{
		.main-back{
			display: none;
		}
	}
	.settings-sidebar__header{
		.close{
			display: none;
		}
	}
	.sidebar{
		&__logo,&__link span{
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.3s ease 0s;
		}
	}
	.sidebar-link{
		&__title{
			opacity: 0;
			pointer-events: none;
		}
	}
	.stats{
		&__title{
			width: 10px;
			white-space: nowrap;
			overflow: hidden;	
		}
		&__count-task{
			span{
				opacity: 0;
				white-space: nowrap;
				pointer-events: none;
				transition: all 0.3s ease;
			}
		}
	}
	.task-detail-comments{
		&__active{
			opacity: 0;
			
		}
	}
}
@media(max-width: 650px){
	.dialog{
		padding-bottom: 0px;
		&__body{
			width: 100%;
		}
	}
}
@media (max-width: 400px){
	.sing-in,.sing-up{
		&__body{
			height: 100%;
			border-radius: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}